*
{
    margin: 0;
    padding: 0;
}

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7fafc;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px #000;
    background-color: rgba(228, 227, 227, .4);
}

.weatherCard{
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    /* margin: 50px; */
    margin: 10px auto;
    width: 80%;
    box-shadow: 5px 1px 10px rgba(228, 227, 227, .9);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: rgba(6, 137, 212, 1);
    border: none;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    margin: 8px;
    box-shadow: 5px 1px 10px rgba(228, 227, 227, .9);
}

button:hover{
    background-color: rgba(6, 137, 212, .85);
}

#inputField{
    /* border-radius: 10px; */
    height: 40px;
    width: 190px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    /* box-shadow: 5px 1px 10px rgba(228, 227, 227, .9); */
    background-color: transparent;
}

#inputField:focus{
    background-color: transparent;
}



.iconTemp {
    display: grid; 
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 15px; 
    grid-template-areas: ". ."; 
  }


  .temp {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 15px 0px; 
    grid-template-areas: 
      "."
      "."; 
  }


@media (min-width: 600px) {
    .weatherCard{
        width: 60%;
    }
}


