* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f8;
}

form input{
  margin: 10px;
}

.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}




@media (min-width: 800px) {
  .cardContainer{
    display: flex;
    flex-direction: row;
  }
}